node-red/flows.json
[{"id":"bee4df4a.4debb","type":"tab","label":"Bayesian Presence","disabled":false,"info":""},{"id":"8efc015c.35a3b","type":"server","z":"","name":"Home Assistant"},{"id":"1d5a4109.15a04f","type":"inject","z":"bee4df4a.4debb","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":140,"wires":[["3402ab3a.522fd4"]]},{"id":"3402ab3a.522fd4","type":"api-current-state","z":"bee4df4a.4debb","name":"Bayesian Presence","server":"8efc015c.35a3b","halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"override_payload":true,"override_data":true,"entity_id":"binary_sensor.david_presence","state_type":"str","outputs":1,"x":310,"y":140,"wires":[["7bb9bbde.eba234"]]},{"id":"7bb9bbde.eba234","type":"switch","z":"bee4df4a.4debb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":140,"wires":[["552cf56d.25371c"],["e66ee49c.396c08"]]},{"id":"552cf56d.25371c","type":"api-call-service","z":"bee4df4a.4debb","name":"Set Presence Home","server":"8efc015c.35a3b","service_domain":"device_tracker","service":"see","data":"{\"dev_id\": \"david_bayesian\", \"location_name\": \"home\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":680,"y":100,"wires":[[]]},{"id":"e66ee49c.396c08","type":"api-call-service","z":"bee4df4a.4debb","name":"Set Presence Not Home","server":"8efc015c.35a3b","service_domain":"device_tracker","service":"see","data":"{\"dev_id\": \"david_bayesian\", \"location_name\": \"not_home\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":690,"y":180,"wires":[[]]}]
